button{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100px;

}
li.selected {
    background: #aae2ac;
}
.filter-box{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.filter-box ul > li {
    color: black;
    padding: 8px 6px 8px 10px;
    text-decoration: none;
    display: block;
}
ul {
    margin: 0;
    padding-left: 0;
}

.filter-container:hover .filter-box{ display:  block;}