

<div class="heading-container">
    <div class="selected-category">
      <h1>{{ selectedCategory ?  selectedCategory : "GROUPS"}}</h1>
    </div>
</div>
<div class="filter-container">
  <app-filter class="filter" [groupsObj]="groupsObj"></app-filter>
  <div style="visibility: hidden; width: 300px; height: 0px; margin: 10px;" >align</div>
  <div style="visibility: hidden; width: 300px; height: 0px; margin: 10px;" >align</div>
</div>
<div class="container">
  <p *ngIf="isLoading">loading....</p>
  <h5 *ngIf="groups">{{ errorMessage }}</h5>
  <app-group *ngFor="let group of groups | async" [group]="group"></app-group>
</div>